

.Navbar-head{
    display:flex;
    gap:5px;
}
.Navbar-head-left{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.netflix-logo{
    flex-grow: 1;
}
.netflix-logo img{
    margin: 15px;
}
.menu-list{
    flex-grow: 3;
    background-color: transparent;
    
}
.menu-list a{
    color: rgb(255, 255, 255);
}

.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-list *{
    text-decoration: none;

}
.Navbar-head-right{
    flex-grow: 1;
  
}
.search-icon i{
    font-weight: 900;
    font-size: 27px;
    background-color: transparent;
    color: white;
    margin-right: 6px;
    margin-top: 2px;
}
.Navbar-head-right i{
    font-weight: 900;
    margin-right: 7px;
    font-size: 26px;
    color: white;
}
.Navbar-head-right i:hover{
    cursor:pointer;
}

.Navbar-head-right{
    display: flex; 
    justify-content: end;
    align-items: center;
    position: relative;
}

.search-container{
    display: flex;
    margin-right: 3%;
    
}
.search-icon{
    flex-grow: 1;
}
.search-box{
    border-radius: 2%;
    flex-grow: 1;
}
.search-box input[type=text]{
    padding:2%;
    
}
.search-profile{
    margin-top: 0px;
    height: 30px;
    background-color: white;
    color: antiquewhite;
    border-radius: 20px;
   
}
.Navbar-head-right svg{
    color: antiquewhite;
}

.profile-outlet{
position: absolute;
bottom: -17mm;
right: 5mm;
border:1px solid green;
display: flex;
flex-direction: column;
background-color:white;
    color: black;
    border-radius: 4px;
    min-width: 16px;
    min-height: 16px;
    font-size: 8px;
    font-weight: 100;
    padding: 5px;
  
}
.signout{
    flex-grow: 1;
    margin: 2px 2px 4px 2px;
    padding: 2px;
}
.signout:hover{
    cursor: pointer;
}

.account{
    flex-grow: 1;
    margin: 2px;
    padding: 2px;
}

.account:hover{
    cursor: pointer;
}
